.common-header.search {
    display: table;
    border: 2px solid #555;
    border-radius: 6px;
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
  }
  .common-header.search .search {
    display: table-cell;
    vertical-align: middle;
  }
  .common-header.search .search i {
    color: #555;
    font-size: 1rem;
  }
  .common-header.search .search #search-input {
    border: none;
    text-overflow: ellipsis;
    color: #555;
    font-family: "D2Coding";
    font-weight: bold;
    font-size: 1rem;
    line-height: 3rem;
    width: calc(100% - 2.2rem);
    height: 2rem;
    padding-left: 0.5rem;
    -webkit-appearance: none;
  }
  .common-header.search .search #search-input:focus {
    outline: none;
  }
  .common-header.search .search #search-input::placeholder {
    color: #999;
  }
  .common-header.search .search #search-input::-ms-clear {
    display: none;
  }
  .common-header.search .search #search-input::-webkit-search-decoration, .common-header.search .search #search-input::-webkit-search-cancel-button, .common-header.search .search #search-input::-webkit-search-results-button, .common-header.search .search #search-input::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none;
  }
  
  #search-results {
    list-style: none;
    padding: 0.1rem 0.5rem;
  }
  #search-results li {
    font-size: 1rem;
    margin: 2rem 0;
  }
  #search-results li div {
    display: flex;
    align-items: baseline;
  }
  #search-results li a {
    /* color: #555; */
    width: calc(100% - 2rem);
    padding-left: 0.8rem;
  }
  #search-results li a b {
    /* color: #111; */
  }