---
layout: default
---

<div class="post">
  <a class="category-item" href="/category/#{{page.categories.first}}">> {{page.categories.first}}</a>
  <h2 class="post-title">{{ page.title }}</h2>
  {% for tag in page.tags %}
  <a class="tag-item" href="/tag/#{{tag}}">#{{tag}}</a>
  {% endfor %}
  <span class="post-date">{{ page.date |  date: "%Y.%m.%d" }}</span>
  {{ content }}
</div>

<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date |  date: "%Y.%m.%d" }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
