---
layout: default
title: tags
permalink: /tag/
type: page
---
{% assign esc_title="{{ p.title }}" %}
{% assign esc_date="{{ p.date }}" %}
{% assign esc_tagname="{{ hash }}" %}

<div id="post-list">
  <h2>{{page.title}}</h2>
  <hr>
  <h3 id="{{ category | first }}"> {{ esc_tagname }} </h3>
  <ul>
    <li v-for="p in posts" v-if="p.tags.indexOf(hash) != -1">
      <time>
        {{ esc_date }}
      </time>
      <a v-bind:href="p.url">{{ esc_title }}</a>
    </li>
  </ul>
</div>

<script>
  var hash = decodeURI(window.location.hash.substr(1));

  var postList = new Vue({
    el: '#post-list',
    data: {
      posts: []
    }
  });

  axios.get('/assets/json/posts.json')
  .then(function (response) {
    postList.posts = response.data.posts;
  })
  .catch(function (error) {
    console.log(error);
  });
</script>

